@model ProductDto
<div class="product-item all @Model.Unit.ToLower()">
    <div class="pi-pic">
        <img src="~/publics/img/products/@Model.Image" style="height:330px;width:270px" alt="">
        @if (Model.UnitPrice != 0)
        {
            <div class="sale">Sale</div>
        }
        <div class="icon">
            <i class="icon_heart_alt"></i>
        </div>
        <ul>
            <li class="w-icon active"><a class="item" data-item="@Model.Id"><i class="icon_cart_alt"></i></a></li>
            <li class="quick-view"><a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@Model.Id">+ Quick View</a></li>
            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
        </ul>
    </div>
    <div class="pi-text">
        <div class="catagory-name">@Model.Unit</div>
        <a href="#">
            <h5>@Model.Name</h5>
        </a>
        <div class="product-price">
            @if (Model.UnitPrice != 0)
            {
                @Model.PromotionPrice.ToString("c")
                <span>@Model.UnitPrice.ToString("c")</span>
            }
            else
            {
                @Model.PromotionPrice.ToString("c")
            }
        </div>
    </div>
</div>