@{
    ViewData["Title"] = "Check Out";
}
@model CustomerDto
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <form method="post" class="checkout-form">

            <div class="row">
                <div class="col-lg-6">
                    <h4>Biiling Details</h4>
                    <div class="row">
                        @if (TempData["Error"] != null)
                        {
                            <div class=" col-lg-12 alert alert-danger notification">
                                @TempData["Error"]
                            </div>
                        }
                    </div>
                    <div class="row">
                        @Html.AntiForgeryToken()
                        <div class="col-lg-12">
                            <label for="fir">Full Name<span>*</span></label>
                            <input type="text" asp-for="@Model.Name">
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12">
                            <label for="cun">Email<span>*</span></label>
                            <input type="text" asp-for="@Model.Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Phone Number<span>*</span></label>
                            <input type="text" asp-for="@Model.PhoneNumber">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <label for="">Gender</label>
                            <br />
                            <input type="radio" asp-for="@Model.Gender" style="height: 15px !important; width: 15px !important" checked value="true" /><span> Male</span>
                            <input type="radio" asp-for="@Model.Gender" style="height: 15px !important; width: 15px !important " value="false" /><span> Female</span>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Address<span>*</span></label>
                            <input type="text" asp-for="@Model.Address">
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Note</label>
                            <input type="text" asp-for="@Model.Note" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li class="fw-normal order-table-item">Product <span>Total</span></li>
                                <li class="total-price">Total <span class="total-price-span">$0.00</span></li>
                            </ul>
                           
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->
